/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
}

.zone {
  min-width: 100%;
  min-height: 90%;
  border: 1px solid black;
  margin-bottom: auto;
}

.wall {
  fill: none;
  stroke: black;
  stroke-width: 4px;
  stroke-linecap: round;
}
